body {
	margin: 0;
	overflow: hidden;
}

#Dad {
	position: relative;
	height: 753px;
}

#top {
	width: auto;
	height: 8%;
	background: green;
	position: fixed;
	/* display: flex; */
	/* align-items: center; */
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

}

#top i {
	position: absolute;
	top: 50%;
	transform: translate(1rem, -50%);
}

#left {
	width: 15%;
	height: 93%;
	position: fixed;
	float: left;
	overflow: auto;
	background: rgba(255, 255, 0, 0.5);
	transform: translate(-1%, 8%);
}

#left ul {
	padding: 0;
	/* box-sizing: border-box; */
	/* padding: 1rem 2rem; */
	margin: 1 0.01rem;
}

#left ul li {
	margin-left: 1rem;
	line-height: 2;
	list-style-type: none;
	text-transform: none;
}

#left ul i {
	margin-right: 10px;
}


#right_top {
	width: 84.5%;
	height: 10%;
	position: fixed;
	float: right;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: red;
	transform: translate(-1%, -820%);
	z-index: 1;
}



#right {
	width: 85.4%;
	height: 100%;
	position: fixed;
	float: right;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: rgba(57, 218, 65, 0.5);
	transform: translate(0.2%, 0%);
}

*/ #top>#iconButton {
	font-size: 40px;
	transform: translate();
	color: chartreuse;
}