body {
	margin: 0;
}

#top {
	width: auto;
	height: 10%;
	background: rgba(143, 243, 168, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#left {
	width: 15%;
	height: 100%;
	position: fixed;
	float: left;
	overflow: auto;
	background: rgba(255, 255, 0, 0.5);
	transform: translate(-1%, 10%);
}

#right {
	width: 85%;
	height: 100%;
	position: fixed;
	float: right;
	overflow: auto;
	background: rgba(255, 0, 0, 0.5);
	transform: translate(17.6%, 10%);
}

#top > #iconButton {
	font-size: 40px;
	transform: translate();
	color: chartreuse;
}
