<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5</title>
</head>

<body>
  <div id="app">
    <input type="button" :value="num" @click="num++">
    <br>
    姓: <input type="text" v-model="lastName">
    <br>
    名: <input type="text" v-model="firstName">
    <br>
    <!-- 全名: <p>{{lastName}}{{fitstName}}</p> -->
    全名: {{ fullName }} {{ fullNameMethods() }} {{ lastName + firstName }}
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.min.js' integrity='sha512-jDpwxJN+g4BhXLdba5Z1rn2MpR9L5Wp3WVf2dJt5A0mkPHnHLZHZerpyX4JC9bM0pkCL7RmAR8FwOm02h7RKFg==' crossorigin='anonymous'></script>
  <script>
    Vue.createApp({
      data() {
        return {
          firstName: '',
          lastName: '',
          num: 0
        }
      },
      // mathods 和 computed 順序不會影響
      methods: {
        fullNameMethods() {
          console.log('methods 更新');
          return this.lastName + this.firstName
        }
      },
      computed: {
        fullName() {
          console.log('computed 更新');
          return this.lastName + this.firstName
        }
      },
      // watch 功能是資料的監聽
      watch: {
        // 提供兩個值 oldValue 修改前的值 newValue 修改後的值 
        // 如果今天物件是陣列 watch 監聽是淺層的監聽
        firstName(newValue, oldValue) {
          console.log(`firstName:${oldValue} --> ${newValue}`);
        },
        lastName: {
          handler(newValue, oldValue) {
            console.log(`lastName:${oldValue} --> ${newValue}`);
          },
          // once: true 只監聽一次
          // once: true 為 3.4 的功能，舊版的 vue 可能會沒有
          once: true,
          // deep:true 可監聽深層物件，但會消耗較多的資源
        }
      }
    }).mount('#app')
  </script>
  <!-- 動態生成標題 -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var path = window.location.pathname;
      var segments = path.split('/');
      var lastSegment = segments.pop();
      var titleBase = lastSegment.replace('.html', '');
      var decodedTitleBase = decodeURIComponent(titleBase);
      document.title = decodedTitleBase;
    });
  </script>
</body>

</html>